<!DOCTYPE html>
<html>

<head>
    <title>Cadastrar Usuário</title>
</head>

<body>
    <h1>Cadastrar Usuário</h1>
    <form action="/cad" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="" required>
        <br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" value="" required>
        <br>
    
        <br>
        <button type="submit">Criar</button>
    </form>
</body>

</html>